 body {
    background: black;
    color: white;
    font-family: Arial;
    margin: 0;
}

/* LOGO */
#logo-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    color: gold;
    font-size: 3rem;
}

/* TABLE GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.table-btn {
    padding: 25px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* STATUS COLORS */
.empty { background: green; }
.active { background: red; }
.paid { background: blue; }

/* MENU */
.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #111;
}

.category-bar {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.food-card {
    background: #222;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.checkout-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
}

/* RECEIPT */
@media print {
    body * { display: none; }
    #receipt-area { display: block; }
}